#ContactInfoProfile {
    position: absolute; 
    top: 0px;
    left: 0px;
    height: 100px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    font-size: smaller
}

#VideoListProfile {
    position: absolute; 
    top: 120px;
    width: 100%;
}

.keywordEnvironmentToEdit {
    display:inline-block;
}

.inputKeywordToEdit {
    display: inline-block;
    color: black;
}

.deleteKeywordToEdit {
    display: inline-block;
    color: black;
    background-color: white;
    height: 20px;
    width: 20px;
    cursor: pointer;
}