/*logInUser.html.twig */
#logIn
{
    position: absolute; 
    top: 0px; 
    right: 0px; 
    width: 100%; 
    height: 100%; 
    z-index: 3;
}

#logOut
{
    position: absolute; 
    top: 0px; 
    right: 0px; 
    width: 100%; 
    height: 100%; 
    z-index: 3;
}

#user_name
{
    position: absolute;
    top: 5px;
    right: 165px;
    width: 80px;
    height: 33px;
    color: black;
}

#user_password
{
    position: absolute;
    top: 5px;
    right: 80px;
    width: 80px;
    height: 33px;
    color: black;
}

#btnLogIn
{
    position: absolute;
    height: 15px;
    width: 70px;
    top: 5px;
    right: 5px;
    display: block;
    background-color: white;
    color: black;
    font-size: smaller;
}

#btnLogIn2
{
    position: absolute;
    height: 15px;
    width: 70px;
    top: 5px;
    right: 5px;
    display: none;
    background-color: white;
    color: black;
    font-size: smaller;
}

#btnSignUp
{
    position: absolute;
    height: 15px;
    width: 70px;
    top: 23px;
    right: 5px;
    z-index: 3;
    display: block;
    background-color: white;
    color: black;
    font-size: smaller;
}


/*logOutUser.html.twig */

#btnLogOut {
    position: absolute;
    height: 15px;
    width: 60px;
    top: 5px;
    right: 5px;
    z-index: 3;
    display: block;
    background-color: white;
    color: black;
    font-size: smaller;
}

#sessionAreaBgColor {
    position: absolute;
    background-color: gray;
    opacity: 0.2;
    width: 100%;
    height: 100%;
}

#uploadVideoIconButton {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 60px;
    right: 0px;
    z-index: 1;
}

#videoIconButton {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 30px;
    right: 0px;
    z-index: 1;
}